<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For To See All</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Imagem a ser analizada</h1>
    <form id="uploadForm">
        <input type="file" id="imageInput" name="image" accept="image/*">
        <button type="submit">enviar e analizar</button>
    </form>
    <div id="result" style="display: none;">
        <h3>descricao da imagem:</h3>
        <p id="response"></p>
        <button id="generateAudioBtn" style="display:none;">Gerar Audio</button>
        <audio id="audioPlayer" controls style="display:none;"></audio>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
